<header>
  <nav>
    <% if customer_signed_in? %>
      <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %>
    <% elsif shop_signed_in? %>
      <%= link_to 'ログアウト', destroy_shop_session_path, method: :delete %>
    <% elsif admin_signed_in? %>
      <%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %>
    <% end %>
  </nav>
</header>